@keyframes rotate-left {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0);
	}
}

@keyframes rotate-right {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes btnAnimation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}
