$main-color: #d4a5a5; //rgb(212, 165, 165);
$secondary-color: #f9ffea; //rgb(249, 255, 234);
$bg-color: #a6d0e4; //rgb(166, 208, 228);
$bg-color-darker: #9ec6d8;
$dark-color: #333;
$white-color: #fff;

$light-gradient: linear-gradient(
	45deg,
	rgba(212, 165, 165, 0.2),
	rgba(166, 208, 228, 0.3)
);
