$main-color: #ffacac;
$secondary-color: #f9ffea;
$text-color: #53488d;
$btn-bg-color: #ffe5e5;
$bg-color: #a6d0e4;
$bg-color-darker: #9ec6d8;
$dark-color: #333;
$white-color: #fff;

$light-gradient: linear-gradient(
	45deg,
	rgba(212, 165, 165, 0.2),
	rgba(166, 208, 228, 0.3)
);
